# Ignore my tests files
tests/

# Compilers 
*.o
**/lex.yy.*
**/*.tab.*
*.output

# TeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb


# Executables
*.exe

# VS code
.vscode

# Weight files
*.ppm
